* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.navbar {
  border: 1px solid #00000014;
}

.navbar ul {
  display: flex;
  box-shadow: 1px 4px 4px 0px #0000000a;
  list-style: none;
  justify-content: space-around;
  margin: 0 247px;
}

.navbar ul li {
  padding: 17px 16px;
}

.navbar ul li a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
}
